/* stillsMin550 */

@import "../../mixins";

.stillsSect {
	padding-left: calc((100% - 550px) / 2);
	padding-right: calc((100% - 550px) / 2);
}
.categoryCont {
	display: block;
	text-align: center;
	padding-bottom: 60px;
}
.categories {
	padding: 0 30px 0 30px;
	font-size: 14px;
	text-transform: uppercase;
	cursor: pointer;
}
.galleryCont {
	@include columns(2, 0);
}