/* _messageSentSect */

@import "../mixins";

.messageSentSect {
	position: relative;
	height: calc(100% - 176px);
}
.sentCont {
	position: relative;
	top: 50%;
	left: 50%;
	@include transform(translate(-50%, -50%));
}
.sentHead {
	text-align: center;
	font-size: 24px;
	padding: 0 0 30px 0;
}