/* _about */

.aboutSect {
	display: block;
	min-height: 20%;
	padding: 17%;
}
/* main.scss >> .content */
.sectionHead {
	font-size: 18px;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 20px;
	letter-spacing: 12px;
	font-weight: 400;
}
/* main.scss >> p */