/* _landing */

@import "mixins";
@import "animations";

.landing {
	height: 100%;
	width: 100%;
	@include background-image("../../images/Megan Soo - 004.jpg");
}
.landingCont {
	/* main.scss >> .sectionCont */
	background-color: rgba(0, 0, 0, 0.5);
	animation: fadeIn 2.5s ease-in-out;
}
.burger {
	position: absolute;
	top: 20px;
	right: 20px;
	height: 20px;
	width: 20px;
	border: 2px solid red;
}
.head {
	position: relative;
	top: 50%;
	left: 50%;
	@include transform(translate(-50%, -50%));
}
.headCont {
	position: absolute;
	top: 50%;
	left: 50%;
	padding-left: 10px;
	overflow: hidden;
	transition: all 0.5s 0.2s ease-in-out;
}
.headCont.open {
	transition: all 0.5s ease-in-out;
}
.fNameCont {
	@include transform(translate(-104px, -120%) skew(-30deg));
}
.fNameCont.open {
	@include transform(translate(-137px, -120%) skew(0deg));
}
.lNameCont {
	@include transform(translate(20px, 20%) skew(-30deg));
}
.lNameCont.open {
	@include transform(translate(0, 20%) skew(0deg));
}
.motionCont {
	@include transform(translate(-153px, -70%) rotateX(90deg));
	transition: all 0.5s ease-in-out;
}
.motionCont.open {
	@include transform(translate(-154px, -120%) rotateX(0deg));
	transition: all 0.5s 0.2s ease-in-out;
}
.aboutCont {
	@include transform(translate(-116px, 20%) skew(-30deg));
}
.aboutCont.open {
	@include transform(translate(-133px, 20%) skew(0deg));
}
.stillsCont {
	@include transform(translate(34px, -120%) skew(-30deg));
}
.stillsCont.open {
	@include transform(translate(0, -120%) skew(0deg));
}
.contactCont {
	@include transform(translate(0, -30%) rotateX(90deg));
	transition: all 0.5s ease-in-out;
}
.contactCont.open {
	@include transform(translate(0, 20%) rotateX(0deg));
	transition: all 0.5s 0.2s ease-in-out;
}
.landingHead {
	display: inline-block;
	font-size: 18px;
	font-weight: 200;
	letter-spacing: 12px;
	text-transform: uppercase;
	color: rgba(250, 250, 250, 1);
	transition: all 0.5s 0.2s ease-in-out;
}
.landingHead.open {
	transition: all 0.5s ease-in-out;
}
.fName {
	@include transform(skew(30deg));
	animation: fNameLoad 2.8s ease-out;
}
.fName.open {
	@include transform(translate(110%, 0) skew(0deg));
}
.lName {
	@include transform(skew(30deg));
	animation: lNameLoad 2.8s ease-out;
}
.lName.open {
	@include transform(translate(-110%, 0) skew(0deg));
}
.about {
	@include transform(translate(110%, 0) skew(30deg));
}
.about.open {
	@include transform(translate(0, 0) skew(0deg));
}
.stills {
	@include transform(translate(-110%, 0) skew(30deg));
}
.stills.open {
	@include transform(translate(0, 0) skew(0deg));
}
.motion:hover, .stills:hover, .about:hover, .contact:hover {
	font-weight: 200;
}
.part {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 80px;
	width: 1px;
	background-color: rgba(199, 0, 57, 1);
	@include transform(translate(26px, -50%) rotate(30deg));
	transition: all 0.5s 0.2s ease-in-out;
	animation: partLoad 2.5s ease-in-out;
}
.part.open {
	@include transform(translate(-50%, -50%) rotate(0deg));
	transition: all 0.5s ease-in-out;
}
.portHead {
	display: none;
}
