@import "mixins";
@import "reset";

/*_*/

html {
	
	overflow-x: hidden;
}
html, body {
	height: 100%;
	font-family: "Raleway", sans-serif;
}
body {
}
p {
	line-height: 1.2;
	text-align: center;
}
.sectionCont {
	height: 100%;
	width: 100%;
}

@import "landingSect";
@import "aboutSect";

@import "mediaQueries/mainMq";