/*@mixin background-image($path, $position: center, $size: cover, $repeat: no-repeat) {
	background: {
		image: url($path);
		position: $position;
		size: $size;
		repeat: $repeat;
	}
}*/
@mixin background-image($path) {
	background-image: url($path);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}