/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*_*/

html, body {
	height: 100%;
	font-family: "Raleway", sans-serif;
}
.container {
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	animation: fadeIn 2.5s ease-in-out;
}
@keyframes fadeIn {
	0% {
		background-color: rgba(0, 0, 0, 1);
	}
	100% {
		background-color: rgba(0, 0, 0, 0.5);
	}
}

/*** landing ***/

.landing {
	height: 100%;
	width: 100%;
	background-image: url(https://s-media-cache-ak0.pinimg.com/originals/ae/1d/6e/ae1d6ef744320d237a95fc1e7d6ee98b.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.landFocus {
	display: none;
}
.lNameCont, .fNameCont {
	position: absolute;
	top: 50%;
	height: 50px;
	overflow: hidden;
	transition: all .8s;
}
.fNameCont {
	right: calc(50% - 70px);
	transform: translateY(-100%) skew(-30deg);
	width: 290px;
}
.lNameCont {
	left: calc(50% + 44px);
	transform: skew(-30deg);
	width: 176px;
}
.fName, .lName {
	display: inline-block;
	position: absolute;
	left: 15px;
	transform: skew(30deg);
	font-size: 48px;
	text-transform: uppercase;
	letter-spacing: 20px;
	color: white;
	cursor: default;
	transition: all .8s;
}
.fM, .lS {
	opacity: 0;
}
.fName {
	animation: fNameLoad 2.5s ease-out;
}
@keyframes fNameLoad {
	0% {
		left: 305px;
	}
	50% {
		left: 305px;
		opacity: 0.1;
	}
	100% {
		left: 15px;
	}
}
.lName {
	animation: lNameLoad 2.5s ease-out;
}
@keyframes lNameLoad {
	0% {
		left: -206px;
	}
	50% {
		left: -206px;
		opacity: 0.1;
	}
	100% {
		left: 15px;
	}
}
.part {
	display: inline-block;
	position: absolute;
	height: 160px;
	width: 2px;
	top: 50%;
	left: calc(50% + 57px);
	transform: translate(-50%, -50%) rotate(30deg);
	background-color: #c70039;
	cursor: default;
	transition: all .8s;
	animation: partLoad 2s ease-out;
}
@keyframes partLoad {
	0% {
		height: 0px;
	}
	50% {
		height: 0px;
		opacity: 0.5
	}
	80% {
		height: 160px;
	}
}


@media only screen and (min-width: 1370px) {
	.landFocus {
		display: inline-block;
		font-weight: 100;
	}
	.fNameCont {
		transform: translateY(-50%);
		left: calc(50% - 69px);
		transition: all .8s;
	}
	.lNameCont {
		transform: translateY(-50%);
		left: calc(50% - 2px);
	}
	.fName, .lName {
		opacity: 0;
		font-weight: 100;
		transform: skew(0deg);
		animation: none;
	}
	.deskHover {
		position: absolute;
		top: 50%;
		left: 50%;
		height: 120px;
		width: 120px;
		transform: translate(-50%, -50%);
		z-index: 2;
	}
	.motion, .stills {
		display: inline-block;
		position: absolute;
		top: 50%;
		font-size: 48px;
		text-transform: uppercase;
		letter-spacing: 20px;
		color: white;
		transform: translateY(-50%);
		cursor: default;
		transition: visibility 0s, opacity .8s, transform .8s;
	}
	.motion {
		left: calc(50% - 54px);
		animation: deskLoad 3s ease-in-out;
	}
	.stills {
		right: calc(50% - 62px);
		animation: deskLoad 3s ease-in-out;
	}
	@keyframes deskLoad {
		0% {
			opacity: 0;
		}
		33% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
	.landFade {
		color: rgba(250, 250, 250, 0);
		transition: all .8s;
	}
	.part {
		left: 50%;
		transform: translateY(-50%) rotate(15deg);
		height: 120px;
		width: 1px;
		animation: partLoad 2s ease-in-out;
	}
	@keyframes partLoad {
	0% {
		height: 0px;
	}
	50% {
		height: 0px;
		opacity: 0.5
	}
	90% {
		height: 120px;
	}
}
	/* onMouseMove */

	.motion.focus {
		transform: translate(-25%, -50%);
	}
	.stills.focus {
		transform: translate(25%, -50%);
	}
	.motion.outFocus {
		transform: translate(-300px, -50%);
		opacity: 0.2;
	}
	.stills.outFocus {
		transform: translate(300px, -50%);
		opacity: 0.2;
	}
	.part.mFocus {
		transform: translate(300px, -50%) rotate(0deg);
	}
	.part.sFocus {
		transform: translate(-300px, -50%) rotate(0deg);
	}
	.landFade.focus {
		color: rgba(250, 250, 250, 1);
	}

	/* deskHead.onHover */

	.deskHover.hvr {
		width: 500px;
	}
	.motion.hvr {
		transform: translate(-165px, -50%);
	}
	.stills.hvr {
		transform: translate(+50px, -50%);
	}
/*	.fM.hvr, .lS.hrv {
		opacity: 1;
	}*/
	.fName.hvr, .lName.hvr {
		opacity: 1;
	}
	.fNameCont.hvr {
		transform: translate(-165px, -50%);
	}
	.lNameCont.hvr {
		transform: translate(+50px, -50%);
	}
	.part.hvr {
		transform: translate(+50px, -50%) rotate(15deg);
	}